.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

user_guide/*
Plan/*
application/config/development
application/email_config/*
application/sendgrid-php/*
application/logs/*
!application/logs/index.html
!application/logs/.htaccess