
<div class="mdl-grid dashboard">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-col--8-col-tablet" >
      
        <div class="section_1_container dashboard-header">
        <h3>OverView</h3>
        <div class="day_filter_outer">  
            <span class="day_filter_innner">All Ticket<span>(3)</span>
                <button id="lang-switcher" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">expand_more</i>
                </button>
                 <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="lang-switcher" id="filter_day" ng-model="day_filter">
                     <li class="mdl-menu__item " ng-repeat='item in day track by $index' value="{{item.id}}" ng-click="filter_by_date(item.id)">{{item.name}}</li>
                </ul>
            </span>
        </div>
        </div>
        <div class="card-container">
          <div class="demo-card-rectangle mdl-card mdl-shadow--2dp" id="card" ng-click="statusopenorclose(0)">
                <div class="mdl-card__title mdl-card--expand">
                  <p >Open</p>
                 </div>
                <div class="mdl-card__title mdl-card--expand">
                    <p> {{dashboard_data.open}}</p>
                </div>
            </div>
            <div class="demo-card-rectangle mdl-card mdl-shadow--2dp" id="card" ng-click="statusopenorclose(1)">
                <div class="mdl-card__title mdl-card--expand">
                    <p >Close</p>
                </div>
                <div class="mdl-card__title mdl-card--expand">
                    <p> {{dashboard_data.close}}</p>
                </div>
            </div>
            <div class="demo-card-rectangle mdl-card mdl-shadow--2dp" id="card" ng-click="due(0)">
                <div class="mdl-card__title mdl-card--expand">
                    <p >Due Today</p>
                </div>
                <div class="mdl-card__title mdl-card--expand">
                    <p> {{dashboard_data.duetoday}}</p>
                </div>
            </div>
            <div class="demo-card-rectangle mdl-card mdl-shadow--2dp" id="card" ng-click="due(1)">
                <div class="mdl-card__title mdl-card--expand">
                    <p >OverDue</p>
                </div>
                <div class="mdl-card__title mdl-card--expand">
                    <p> {{dashboard_data.due}}</p>
                </div>
            </div>
            <div class="demo-card-rectangle mdl-card mdl-shadow--2dp" id="card" ng-click="unassigned(0)">
                <div class="mdl-card__title mdl-card--expand">
                    <p>Unassigned</p0>
                </div>
                <div class="mdl-card__title mdl-card--expand">
                    <p> {{dashboard_data.assigned}}</p>
                </div>
            </div>
            <div class="demo-card-rectangle mdl-card mdl-shadow--2dp" id="card">
                <div class="mdl-card__title mdl-card--expand">
                    <p>Average Customer Rating</p>
                </div>
                <div class="mdl-card__title mdl-card--expand">
                <p> 4.5</p>
                </div>
            </div>
        </div>
    <div class="graph">
        <div class="inner-graph">
            <div class="inner-fro">
                 <p>New Ticket</p> 
                <div class="graph-filter">  
                    <span class="graph_filter_inner">All Ticket<span>(3)</span>
                        <button id="newticket" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">expand_more</i>    
                         </button>
                        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="newticket" id="filter_day" ng-model="newTicket">
                            <li class="mdl-menu__item " ng-repeat='item in day track by $index' value="{{item.id}}" ng-click="linegraph(item.id)">{{item.name}}</li>
                        </ul>
                    </span>
                </div>
             </div>       
             <div class="demo-card-rectangle mdl-card mdl-shadow--2dp" id="graph-card">
                    <div class="mdl-card__title mdl-card--expand">
                       <zingchart id = "new_ticket" zc-json = "newTicket" zc-height = 500 zc-width = 600 ></zingchart>
                    </div>
            </div>
        </div>

    <div class="inner-graph">
        <div class="inner-fro">
            <p>Closed Ticket</p> 
            <div class="graph-filter">  
                <span class="graph_filter_inner">All Ticket<span>(3)</span>
                      
                    <button id="closed" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">expand_more</i>
                     </button>
                    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="closed" id="filter_day" ng-model="closed">
                       <li class="mdl-menu__item " ng-repeat='item in day track by $index' value="{{item.id}}" ng-click="bargraph(item.id)">{{item.name}}</li>
                    </ul>
                </span>
            </div>
        </div>         
        <div class="demo-card-rectangle mdl-card mdl-shadow--2dp" id="graph-card">
            <div class="mdl-card__title mdl-card--expand">
                <zingchart id = "cloed" zc-json = "closed" zc-height = 500 zc-width = 600 ></zingchart>
            </div>
        </div>
    </div>
</div> 
</div>
</div>
