
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
      <div class="signup"> 
        <div id="su"><b>Forgot Password</b></div>
        <form>
        <div class="signup_view">
          

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" id="email" ng-model="email" ng-required="email">
                <label class="mdl-textfield__label" for="email">Email</label>
                <span class="mdl-textfield__error">Not a valid email!</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z,0-9 ]*" id="captcha" ng-model="captcha" ng-required="captcha">
                <label class="mdl-textfield__label" for="captcha">Captcha</label>
                <span class="mdl-textfield__error">Input is not a valid charchter!</span>
              </div>
              <div class="captcha">
                <div class="captcha_content"><b>{{gen_captcha}}</b></div>
              </div>

        </div>
        <div class="captcha_footer">
            <!-- Raised button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="register" ng-click="submitDetails()">
                Submit
            </button>
            <!-- Raised button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="discard" type="reset">
                Discard
            </button>
                
        </div>
        <div class="captcha_footer_below">
            Already a member? <a ui-sref="login">Login</a>
        </div>
      </form>
      
    </div>
    </div>
  
  </div>
  
  
  
      </body>
  </html>