
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
      <div class="otp"> 
        <div id="otp_mail"><b>Account Verified</b></div>
        <form>
        <div class="otp_view">
            <span ng-if="match_error" id="error_message">Both Password Must be Same!</span>
              
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" pattern="[a-z,A-Z,0-9]{8,25}" id="new_pass" ng-model="new_pass" ng-required="otp" ng-focus="match_error=false">
                <label class="mdl-textfield__label" for="new_pass">Enter new password</label>
                <span class="mdl-textfield__error">Password should be minimum 8 charchters</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password"  id="conf_pass" ng-model="conf_pass" ng-required="conf_pass">
                <label class="mdl-textfield__label" for="conf_pass">Re-enter password</label>
                
              </div>
        </div>
        <div class="otp_footer">
            <!-- Raised button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="resetpassword" ng-click="resetpassword()">
                Confirm
            </button>

        </div>
        <div class="otp_footer_below">
            <div>
                <a ui-sref="SignUp">Back to login page</a>
            </div>
            <div>
                Don't have an account? <a ui-sref="SignUp">Sign up</a>
            </div>
        </div>
      </form>
      
    </div>
    </div>
  
  </div>
  
  
  
      </body>
  </html>